<p>Choisir par {{ area }} </p>

<form method="GET" action="/research"> Régions sélectionnées<input type="text" name="dpts" id="research"> <input type="submit" value="Lancer la recherche"></form>
<div id="research"></div>
<div id="map" data-loadmap="{{ load }}"></div>